<!DOCTYPE html>
<html lang=”en” prefix=”og: http://ogp.me/ns#" >
  <head>
    <title>Anasa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/11e76f827b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <meta property='og:title' content='Anasa'/>
    <meta property='og:image' content='anasa-screenshot.png'/>
    <meta property='og:description' content='Anasa Application'/>
    <meta property='og:url' content='//www.example.com/URL of the article'/>
    <meta name="author" content="Reed Haubenstock" />
    <meta property="og:type" content="Website" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
